Arduino/*
pictures/*
projects/*
Downloads/*
documents/*
.ansible/*
.arduino15/*
.aws/*
.asoundrc.asoundconf
.babel.json
.cache/*
.config/chromium/*
.config/gconf/*
.config/google-chrome/*
.config/dconf/*
.config/gtk-2.0/gtkfilechooser.ini
.config/htop/*
.config/menus/*
.config/mimeapps.list
.config/pulse/*
.config/spotify/*
.config/sublime-text-3/*
.config/Thunar/*
.config/xfce4/*
.esd_auth
.fehbg
.gimp-2.8/*
.gnome/*
.gnupg/*
.histfile
.icons/*
.java/*
.lastpass/*
.lesshst
.local/*
.mozilla/*
.mysql_history
.npm/*
.node_repl_history
.oh-my-zsh/*
.oracle_jre_usage/*
.pip_bootstrap_profile.sh
.pki/*
.python_history
.ssh/*
.thumbnails
.wheelhouses/*
.vim
.viminfo
.virtualenvs/*
.wine-pipelight/*
.Xauthority
.xsel*
.zcompdump*
.zsh_history
.zshrc.pre-oh-my-zsh
.zsh-update
.config/Trolltech.conf
.config/vlc
.wpa_cli_history
