Arduino
pictures
projects
Downloads
documents
VirtualBox VMs
.adobe
.ansible
.arduino
.arduino15
.aws
.asoundrc.asoundconf
.babel.json
.cache
.config/chromium
.config/gconf
.config/google-chrome
.config/dconf
.config/gtk-2.0/gtkfilechooser.ini
.config/htop
.config/keepassx
.config/menus
.config/mimeapps.list
.config/pgadmin/
.config/pulse
.config/QtProject.conf
.config/spotify
.config/sublime-text-3
.config/Thunar
.config/Trolltech.conf
.config/VirtualBox
.config/vlc
.config/xfce4
.esd_auth
.fehbg
.gimp-2.8
.gnome
.gnupg
.histfile
.icons
.java
.lastpass
.lesshst
.local
.macromedia
.mozilla
.mysql_history
.npm
.node_repl_history
.oh-my-zsh
.oracle_jre_usage
.pgadmin
.pip_bootstrap_profile.sh
.pki
.plan
.psql_history
.python_history
.ssh
.terraform.d
.thumbnails
.wheelhouses
.vagrant.d
.vim
.viminfo
.virtualenvs
.wine-pipelight
.wpa_cli_history
.Xauthority
.xsel*
.zcompdump*
.zsh_history
.zshrc.pre-oh-my-zsh
.zsh-update
.config/Code
.config/baloofilerc
.config/dolphinrc
.config/gocode
.vscode
go
