pictures/*
projects/*
Downloads/*
documents/*
.aws/*
.asoundrc.asoundconf
.cache/*
.config/chromium/*
.config/google-chrome/*
.config/dconf/*
.config/htop/*
.config/menus/*
.config/pulse/*
.config/spotify/*
.config/sublime-text-3/*
.esd_auth
.gnome/*
.gnupg/*
.histfile
.icons/*
.lesshst
.local/*
.mozilla/*
.npm/*
.node_repl_history
.oh-my-zsh/*
.pip_bootstrap_profile.sh
.pki/*
.python_history
.ssh/*
.wheelhouses/*
.vim/.netrwhist
.viminfo
.virtualenvs/*
.wine-pipelight/*
.Xauthority
.zcompdump*
.zsh_history
.zshrc.pre-oh-my-zsh
.zsh-update
