Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

URxvt.perl-ext-common: 	default,clipboard
URxvt.iso14755: 	False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.cursorBlink: 	True

URxvt.transparent: True
URxvt.shading: 25
URxvt.fading: 30

URxvt.thickness: 1
URxvt.scrollBar: off

URxvt.borderLess: False

!!NumiX Darkest.
!!BY WuX 

URxvt.background: #282828
URxvt.foreground: #A2A2A2

!Black
URxvt.color0:    #555555
URxvt.color8:    #888888

!Red
URxvt.color1:    #9C3528
URxvt.color9:    #d64937

!Green
URxvt.color2:    #61BC3B
URxvt.color10:   #86DF5D

!yellow
URxvt.color3:    #F3B43A
URxvt.color11:   #FDD75A

!blue
URxvt.color4:    #0D68A8
URxvt.color12:   #0F75BD

!Magenta
URxvt.color5:    #744560
URxvt.color13:   #9E5E83

!Cyan
URxvt.color6:    #288e9c
URxvt.color14:   #37c3d6

!White
URxvt.color7:    #A2A2A2
URxvt.color15:   #f9f9f9

URxvt.font:		xft:System San Francisco Default Regular:size=11
URxvt.letterSpace: 	-3
URxvt.scrollstyle:	plain
