! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*fading:                         number
! URxvt*fadeColor:                      color

URxvt.depth: 		32
URxvt.background: 	[35]#263238
URxvt.transparent: 	true
URxvt.shading: 		30

URxvt.perl-ext-common: 	default,clipboard
URxvt.iso14755: 	False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.cursorBlink: 	True

!!NumiX Darkest.
!!BY WuX 

!URxvt.background: #282828
URxvt.foreground: #A2A2A2

!Black
URxvt.color0:    #555555
URxvt.color8:    #888888

!Red
URxvt.color1:    #9C3528
URxvt.color9:    #d64937

!Green
URxvt.color2:    #61BC3B
URxvt.color10:   #86DF5D

!yellow
URxvt.color3:    #F3B43A
URxvt.color11:   #FDD75A

!blue
URxvt.color4:    #0D68A8
URxvt.color12:   #0F75BD

!Magenta
URxvt.color5:    #744560
URxvt.color13:   #9E5E83

!Cyan
URxvt.color6:    #288e9c
URxvt.color14:   #37c3d6

!White
URxvt.color7:    #A2A2A2
URxvt.color15:   #f9f9f9

URxvt.font:		xft:System San Francisco Default Regular:size=11
URxvt.letterSpace: 	-3
URxvt.scrollstyle:	plain

! URxvt*depth:                          number
! URxvt*visual:                         number
! URxvt*lineSpace:                      number
! URxvt*letterSpace:                    number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*cutchars:                       string
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string
